<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Gallery</title>
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <h2 id="gallery-header">Images/Web</h2>

    <div class="image image1"></div>
    <div class="image image2"></div>
    <div class="image image3"></div>
    <div class="image image4"></div>
    <div class="image image5"></div>
    <div class="image image6"></div>
    <div class="image image7"></div>
    <div class="image image8"></div>

    <div id="date">January 27 2019</div>

    <h2>About Wed</h2>

    <p id="special">
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quas harum voluptatibus
        inventore voluptate dolorum? Cum quos dicta
        dolorum a veniam dolorem quis quidem repudiandae
        ducimus! Dolorum, quibusdam repellendus. Error, illum.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quas harum voluptatibus
        inventore voluptate dolorum? Cum quos dicta
        dolorum a veniam dolorem quis quidem repudiandae
        ducimus! Dolorum, quibusdam repellendus. Error, illum.
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quas harum voluptatibus
        inventore voluptate dolorum? Cum quos dicta
        dolorum a veniam dolorem quis quidem repudiandae
        ducimus! Dolorum, quibusdam repellendus. Error, illum.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quas harum voluptatibus
        inventore voluptate dolorum? Cum quos dicta
        dolorum a veniam dolorem quis quidem repudiandae
        ducimus! Dolorum, quibusdam repellendus. Error, illum.
    </p>

    <hr>
</body>
</html>